/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}
header {
  display: block;
}
@media only screen and (max-width: 768px) {
  .profile-section {
    margin-bottom: 2rem;
  }
}
.mobileShare {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .mobileShare {
    align-self: flex-end;
    margin-right: 2rem;
    visibility: visible;
  }
}

div {
  display: block;
}

.shareIcon {
  align-self: flex-end;
  margin-right: 22rem;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .shareIcon {
    display: none;
  }
}
.iconsvg:hover {
  fill: #f2f4f7;
  stroke: #667085;
}

.toolTip {
  visibility: hidden;
  position: absolute;
  margin-top: -0.5rem;
  margin-left: -7.5rem;
  background-color: #101828;
  color: #fff;
  text-align: center;
  z-index: 1;
  width: 100px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  height: 34px;
  border-radius: 8px;
}
.toolTip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.shareIcon:hover .toolTip {
  visibility: visible;
}

.image-container {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 17.187rem;
  z-index: 5;
}
.image-container #profile__img {
  width: 6rem;
  height: 6rem;
  border-radius: 17.187rem;
  object-fit: cover;
}
.image-container .camera {
  visibility: hidden;
}

.image-container:hover .camera {
  visibility: visible;
}
.camera {
  display: block;
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 17.187rem;
  bottom: 0;
  background-color: rgb(21, 23, 24);
  opacity: 0.6;
}
.camera img {
  /* display: absolute; */
  margin-top: 3.6rem;
  margin-left: 2.4rem;
}

.username {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
  color: #101828;
}
@media only screen and (max-width: 768px) {
  .username {
    font-size: 0.8rem;
  }
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.username #slack {
  display: none;
}
@media only screen and (max-width: 768px) {
  .username {
    font-size: 0.8rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
  width: 100vw;
}
@media only screen and (max-width: 1200px) {
  main {
    margin-bottom: 2rem;
  }
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  .link-container {
    width: 70%;
  }
}

.btn {
  display: flex;
  text-decoration: none;
  color: #000;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  background: #eaecf0;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  border-radius: 0.5rem;
  width: 100%;
}
.btn:hover {
  background: #d0d5dd;
}
@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 0.875rem;
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  width: 90vw;
}
@media only screen and (max-width: 1200px) {
  .socials {
    width: 70%;
  }
}
footer {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
  justify-content: center;
}

.container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 74rem;
  gap: 2rem;
  height: 4rem;
  border-top: 1px solid #eaecf0;
}
@media only screen and (max-width: 768px) {
  .container {
    font-size: x-small;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem;
    gap: 0rem;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 0px 96px;
  margin: 8% 18%;
  gap: 35px;
}
.two {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
  /* background-color: #000; */
}
.two .first {
  width: 50%;
}
.two .second {
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .two {
    flex-direction: column;
    gap: 1em;
    /* width: 100%; */
  }
  .two .second,
  .two .first {
    width: 100%;
  }
}

.two input {
  width: 100%;
}
.form-container form div {
  margin-top: 1.25em;
}
.form-container header h1 {
  margin-bottom: 8px;
}
.form-container input {
  height: 3em;
}
.form-container input,
textarea {
  padding-left: 2px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 10px 14px;
}
.form-container textarea {
  height: 15em;
  width: 100%;
  resize: none;
}
.form-container #email {
  width: 100%;
}
.check {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1em;
}

#btn__submit {
  width: 100%;
  height: 3em;
  color: #fff;
  border: none;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
